# Godot 4+ specific ignores
.godot/
.nomedia

# Godot-specific ignores
.import/
export.cfg
export_credentials.cfg
*.tmp


# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# Editor-specific
.vscode/
.idea/

# Exclude all files in the assets directory
code/godot/assets/*

# Keep the assets folder structure in Git
!code/godot/assets/.gitkeep

# Rust
target/
